#about{
    padding-top: 90px;
    padding-bottom: 90px;
}
#about iframe{
    border-radius: 15px;
    box-shadow: -1em 0 .7em rgb(41, 40, 40);
    
}
#about .col-md-6{
    padding: 20px 10px;  
}
h1{
    color: aliceblue;
    text-transform: uppercase;
}