:root {
    --primary-color: #779BE7;
    --secondary-color: #73d4ce;
    --tertiary-color: #b4e5e0;
    --fourth-color: #f5f6f2
  }

.containerr {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../Images/coverDest.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
}
#tn {
    font-family: 'Dancing Script', cursive;
    font-family: 'Libre Baskerville', serif;
    font-size: 80px;
    margin-top: 100px;
    color: var(--primary-color);
    
}

